<!DOCTYPE html>
<html lang="en">
  <head>
	{% block title %}<title>MakeOpenSource</title>{% endblock %}
    
	{% load static %}
	<link rel="icon" type="image" href="{% static 'assets/favicon.ico' %}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://use.typekit.net/flj5ejp.css">
  </head>

  <body>
    <!-- navigation -->
    <ul class="bar-nav">
		<a href="/">MakeOpenSource</a>
		<div class="links">
			<a href="{% url 'announcements:index' %}">Announcements</a>
			<a href="{% url 'projects:index' %}">Projects</a>
			{% comment %} 
			<li class="link"><a href="{% url 'idealab:index' %}">IdeaLab</a></li> 
			{% endcomment %}
			<a href="/about">About</a>
			<a href="{% url 'join:index' %}" style="color: red">Join</a>
		</div>
	</ul>

	<div class="content">{% block content %}{% endblock %}</div>

  </body>
</html>
